<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/Homepage.css" | relative_url }}" />
    <script type="text/javascript" src="{{ "/assets/js/Homepage.js" | relative_url }}"></script>
  </head>
  <body>
    <div class="flex-col justify-start relative page">
      <img
        class="image"
        src="https://ide.code.fun/api/image?token=66ea99140412d90011fd8e91&name=546836c860f74a2f057d11235c15874e.png"
        alt="描述图像内容"
      />
      <div class="flex-col section pos">
        <span class="self-start font text">XGHQ</span>
        <div class="flex-row items-center self-stretch group view">
          <img
            class="image_2"
            src="https://ide.code.fun/api/image?token=66ea99140412d90011fd8e91&name=82424cff76b8b9d4a59b96c7c961ffee.png"
            alt="看嘘"
          />
          <span class="ml-42 font">看嘘</span>
        </div>
        <div class="flex-row items-center self-stretch group">
          <img
            class="image_2"
            src="https://ide.code.fun/api/image?token=66ea99140412d90011fd8e91&name=850b0200ea56031c0328202a730a3003.png"
            alt="看电戏"
          />
          <span class="ml-42 font">看电戏</span>
        </div>
        <div class="flex-row items-center self-stretch group">
          <img
            class="image_2"
            src="https://ide.code.fun/api/image?token=66ea99140412d90011fd8e91&name=c4ac1e473c3065b02c888451b1789634.png"
            alt="搭帐胖"
          />
          <span class="ml-38 font text_2">搭帐胖</span>
        </div>
        <div class="flex-row items-center self-stretch group">
          <img
            class="image_2"
            src="https://ide.code.fun/api/image?token=66ea99140412d90011fd8e91&name=a9b5d09c4be865a45a2d8b776fc8405f.png"
            alt="拿钱换登西"
          />
          <span class="ml-36 font text_3">拿钱换登西</span>
        </div>
      </div>
    </div>
  </body>
</html>
